 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 43px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 22px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 428px;
  margin: 35px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 493px;
  margin: 65px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 467px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 294px;
  }
}